.gradient-background {
  background: #c58bfc;
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.title-background{
  background-color: rgb(44, 43, 43);

}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  border-radius: 50%;
  height: 100px;
}

@font-face {
  font-family: 'Adios Script Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Adios Script Pro Regular'), url('Adios Script Pro.woff') format('woff');
  }

nav{
  margin: auto;
  position: relative;
  text-align: center;
  height: 80px;
  margin-top: 5%;
  width: 100%
}

.nav ul{
  list-style: none;
}

nav ul li{
  display: inline-block;
  padding: 15px 0;
}

nav ul li a{
  font-weight: bold;
  color: gold;
  font-family: poppins;
  text-decoration: none;
  line-height: 50px;
  text-transform: uppercase;
  padding: 50px

}

nav ul li a:hover{
  color: goldenrod;
  
  
}

.shadow{
  position: relative;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3), 0 0 50px rgba(0,0,0,0.1) inset;
}
.shadow:before,
.shadow:after{
  content:'';
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  top:0%;
  bottom: 0;
  left: 0px;
  right: 0px;
}


/*Advanced*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .header {
  height: 95vh;
  background-image: linear-gradient(to right, hsla(271, 95%, 77%, 0.804),  hsla(271, 86%, 63%, 0.804)),url(../Firefly/Media/UpdatedSunset.jpg);
  background-size: cover;
  background-position: top;

clip-path: polygon(17% 16%, 39% 26%, 51% 38%, 67% 25%, 85% 15%, 100% 15%, 91% 78%, 74% 100%, 51% 74%, 25% 100%, 9% 76%, 0 16%);} */

body{
  padding: 30px;
}

.butterfly{
  animation-name: moveInRight;
  animation-duration: 5s;
}

.title{
animation-name: moveInLeft;
  animation-duration: 5s;
}

.certified{
  animation-name: appear;
  animation-duration: 6s;
}

.btn:link,
.btn:visited{
  border-radius: 100px;
}

.btn:hover{
  transform: translateY(-3px);
}

.btn:active{
  transform: translateY(-1px);
}

.aesthetic:hover{
  transform: translateY(-3px);
}


@keyframes moveInLeft{
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform:translate(0)
  }
}

@keyframes appear{
  0% {
    opacity: 0;
    transform: translate(0, 10px)

  }

  100% {
    opacity: 1;
    transform: translate(0)

  }
}

@keyframes moveInRight{
  0% {
    opacity: 0;
    transform: translate(100px, -2px);


  }

  25% {
    transform: translate(75px, 20px);


  }

  50% {
    transform: translate(50px, -20px);


  }

  75% {

    transform: translate(25px, 20px);


  }

  100% {
    opacity: 1;
    transform: translate(0px, 0px);
    
  }

  

}

